#modal {
	display: none;
	background-color: rgba(0, 200, 220, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

#modal-textbox {
	background-color: lightgreen;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#modal-footer {
	text-align: right;
}

body {
    height: 98vh;
    width: auto;
    background-image: url(https://i.imgur.com/ntlthC2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

h1 {
    color: red;
    text-align: center;
    background-color: greenyellow;
    width: 250px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    border: solid red;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(17, 1fr);
    grid-template-columns: repeat(17, 1fr);
}

.snake {
    background-color: green;
    border: .25vmin solid black;
    border-radius: 40%;
    rotate: 45deg;
}

.apple {
    background-color: red;
    border: .25vmin solid black;
    border-radius: 50%;
}

button {
    background-color: green;
    color: red;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
}